Source: starboard-modules
Section: utils
Priority: optional
Maintainer: M.Angel Juan <m.angel.juan@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: http://github.com/lliurex/docker-starboard
Vcs-Git: http://github.com/lliurex/docker-starboard.git

Package: starboard-modules
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, linux-headers, build-essential, dkms
Description: Kernel modules for Starboard touch board
 This package contains dkms modules (lsadrv & coach) intended to use with Starboard touch board.
